<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ************************************************************************************   -->
        <!--  Internet Permission   -->

        <!--  internet access -->
        <uses-permission android:name="android.permission.INTERNET" />

        <!--  monitor network connection changes -->
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- ************************************************************************************   -->
    <!-- ************************************************************************************   -->
    <!--  Camera Permission   -->

        <!-- Request the camera permission -->
        <uses-permission android:name="android.permission.CAMERA" />

        <!-- Declare hardware usage to filter compatible devices in Google Play -->
        <uses-feature android:name="android.hardware.camera" android:required="false" />
        <uses-feature android:name="android.hardware.camera.autofocus" android:required="true" />


    <!-- ************************************************************************************   -->
    <!-- ************************************************************************************   -->
    <!--  Location Permission   -->


        <!-- Approximate location (Cell towers and Wi-Fi) -->
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

        <!-- Precise location (GPS and Network) -->
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

        <!-- Background location (Required only for Android 10 / API 29+) -->
        <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

        <!-- Foreground Service Location (Required for Android 14 / API 34+ if tracking in foreground service) -->
        <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />


    <!-- ************************************************************************************   -->
    <!-- ************************************************************************************   -->
    <!--  Room Database Permission   -->





    <!-- ************************************************************************************   -->
    <!-- ************************************************************************************   -->
    <!--  Notification Permission   -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>




    <!-- ************************************************************************************   -->




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Buscor">
        <activity
            android:name=".views.MainActivity"
            android:theme="@style/Theme.App.Starting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>